* {
	box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
     
}
.wrapper {
   margin:20px auto 0;
	width: 900px;
	height: 900px;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 45px;
    text-align: center;
    color: #423737;
}

#header-img {
    margin-left: 200px;
}

#nav-bar ul {
  list-style: none;
  top: 0px;
  position: fixed;

}

#nav-bar li {
    font-family: 'Livvic', sans-serif;
    display: inline;
  font-family: sans-serif; 
  font-size: 20px; 
  line-height: 1.4; 
  
}

#nav-bar a {
   text-decoration: none;
   color: rgb(255, 9, 9); 
}

@media (max-width: 450px) {
    #video {
      margin-top: 20px;
    }
  }

#video {
    text-align: center;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 35px;
    text-align: center;
    color: rgb(13, 95, 13);
}
p {
    font-family: 'Livvic', sans-serif;
    font-size: 20px;
    color:brown; 
}

.products {
    margin: 20px;
    display: flex;
    justify-content: center;
    
}

h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 27px;
    text-align: center;
    color: rgb(206, 10, 10);
}